.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
  background-color: cornflowerblue;
  border-radius: 5px;
  border: 1px solid;
  padding: 0 15px 15px 15px;
}

ul {
  list-style: none;
  padding: 0;
}
li {}
